body {
    
    background-color:rgb(83, 106, 180)
}

.Columnas {
    width: 300px;
    height: 120px;
    background-color: aqua;
}

.ColumnaMedio {
    width: 300px;
    height: 330px ;
    
    background-color:blue;
}

.ColumnaDerecha {
    width: 300px;
    height: ;
    background-color:brown;
}