@font-face {
    font-family: passengerDisplayBolt;
    src: url(../fonts/PassengerDisplay-Bold.ttf);
}

@font-face {
    font-family: logo;
    src: url(../fonts/insolent.otf);
}


* {
    margin: 0; /*margin y padding en 0 para eliminar los bordes*/ 
    padding: 0;
    box-sizing: border-box; 
}


body {
    position: relative;
    background-color: black;
    height: 9000px;
    background-size: cover;
}


.primerFondo{
    width: 100vw;
    height: auto;
    display: flex;
    background-repeat: no-repeat;
}


.startDayText {
    position: absolute;
    left: 34%;
    font-family: passengerDisplayBolt;
    color: whitesmoke;
    top: 20vh;
    font-size:  4vw;
}


.withCoffe {
    position: absolute;
    left: 32vw;
    font-family: passengerDisplayBolt;
    color: whitesmoke;
    top: 96vh;
    font-size: 4.125vw;
}


.logo {
    font-family: logo;
    position: absolute;
    top: 0;
    left: 20vw;
    color: white;
}


.contenedorMenu {   
    color: white;
    position: absolute;
    font-size: 0.677vw;
    display: flex;
    flex-direction: row;
    gap: 3.125vw;
    top: 1.296vh;
    right: 14vw;
    font-family: sans-serif;
}


#botonShop {
    font-size: 1.3vw;
    position: absolute;
    width: 9vw;
    height: 5vh;
    background-color: #efb810;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 107vh;
    left: 46%;
}





/*Primera taza*/
.taza1 {
    position: absolute;
    width: 45vw;
    top: 137vh;
    left: 5vw;
}


.ourStory {
    position: absolute;
    color: white;
    font-family: passengerDisplayBolt;
    font-size: 4.125vw;
    top: 152vh;
    left: 60vw;
}


.lineaBlancaStory {
    position: absolute;
    top: 156vh;
    left: 49vw;
    width: 9%;
    height: 2px;
    background-color: white;
}


.textoStory {
    position: absolute;
    color: white;
    font-family: sans-serif;
    font-size: 1.10vw;
    top: 164vh;
    left: 60vw;
}

.botonLearn {
    position: absolute;
    width: 7.29vw;
    height: 3.70vh;
    background-color: #efb810;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 173vh;
    left: 60vw;
}



/*Segunda Taza (Taza con sobre)*/
#tazaSobre {
    position: absolute;
    top: 205vh;
    left: 58vw;
    width: 550px;
    height: auto;
}

.titleSecCup {
    position: absolute;
    font-family: passengerDisplayBolt;
    color: white;
    font-size: 3vw;
    top: 215.5vh;
    left: 13vw;
    font-size: 3.5vw;
}

.textSecCup {
    position: absolute;
    font-family: sans-serif;
    color: white;
    font-size: 1.50vw;
    top: 241vh;
    left: 13vw;
}

.botonLearn2 {
    position: absolute;
    width: 7.29vw;
    height: 3.70vh;
    background-color: #efb810;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 190vh;
    top: 247vh;
    left: 13vw;
}



/*Sección De Productos*/
.titleProducts {
    font-family: passengerDisplayBolt;
    color: white;
}

.cafeRojo {
    margin-top: 90%;
    width: 120px;
    height: auto;
}

.whiteCup {
    width: 120px;
    height: auto;
}

.blackCoffee {
    width: 120px;
    height: auto;
}




.contenedorCajas {
    position: relative;
    top: 1000px;
    display: flex;
    gap: 10%;
    margin: 380px   
}


.boxes {
    font-size: 18px;
    font-family: sans-serif;
    width: 40vw;
    height: 45vh;
    background-color: black;
    border-radius: 5px;
    color: white;
    border: 3px solid #efb810;
    display: flex;
    flex-direction: column;
    justify-content: center; /*Lleva el texto a la mitad del recuadro, verticalmente*/
    align-items: center; /*Lleva el texto a la mitad del recuadro, horizontalmente*/
    gap: 20%;
}


.learnBoxes {
    width: 140px;
    height: 40px;
    color: black;
    background-color:#efb810;
    border-color: #efb810;
    display: flex;
    align-items: center;
    justify-content: center;
}

