@font-face {
    font-family: passengerDisplayBolt;
    src: url(../fonts/PassengerDisplay-Bold.ttf);
}

@font-face {
    font-family: logo;
    src: url(../fonts/insolent.otf);
}


* {
    margin: 0; /*margin y padding en 0 para eliminar los bordes*/ 
    padding: 0;
    box-sizing: border-box; 
}


body {
    background-color: black;
    height: 10000px;
    background-size: cover;
}


.primerFondo{
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    background-repeat: no-repeat;
}


.startDayText {
    position: absolute;
    left: 425px;
    font-family: passengerDisplayBolt;
    color: whitesmoke;
    top: 150px;
    font-size: 60px;
}


.withCoffe {

    position: absolute;
    left: 390px;
    font-family: passengerDisplayBolt;
    color: whitesmoke;
    top: 670px;
    font-size: 60px;
}


.logo {
    font-family: logo;
    position: absolute;
    top: 0;
    left: 150px;
    color: white;
}


.contenedorMenu {   
    color: white;
    position: absolute;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    gap: 40px; 
    top: 14px;
    right: 120px;
    font-family: sans-serif;
}


#botonShop {
    position: absolute;
    width: 140px;
    height: 40px;
    background-color: #C76E00;
    border-color: #C76E00;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 800px;
    left: 600px;
}


#botonLearn {
    position: absolute;
    width: 140px;
    height: 40px;
    background-color: #C76E00;
    border-color: #C76E00;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1400px;
    left: 600px;
}

/*Primera taza*/
.taza1 {
    position: absolute;
    top: 1080px;
}

.textoStory {
    color: white;
    font-family: sans-serif;
}

.ourStory {
    color: white;
    font-family: passengerDisplayBolt;
    font-size: 50px;
}


/*Segunda Taza (Taza con sobre)*/
#tazaSobre {
    width: 400px;
    height: auto;
}

.titleSecCup {
    font-family: passengerDisplayBolt;
    color: white;

}

.textSecCup {
    font-family: sans-serif;
    color: white;
}


/*Sección De Productos*/
.titleProducts {
    font-family: passengerDisplayBolt;
    color: white;
}

.cafeRojo {
    width: 120px;
    height: auto;
}

.whiteCup {
    width: 120px;
    height: auto;
}

.blackCoffee {
    width: 120px;
    height: auto;
}