.fondo {   
    object-fit: cover;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: 1920px;
    height: 1080px;
  }

.logoPrime {
    position: absolute;
    top: 227px;
    left: 690px;
    width: 556px;
    height: 313px;
    z-index: 1;
}

.logoLupa {
    position: absolute;
    left: 60px;
    top: 40px;
    z-index: 1;
}

.favoriteContent {
    position: absolute;
    top: 517px;
    left: 389px;
    width: 1151px;
    height: 60px;
    z-index: 1;
}

.nowYouCan {
    position: absolute; 
    top: 608px;
    left: 380px;
    width: 1160px;
    height: 102px;
    z-index: 1;
}

.cuadroLogin { 
    position: absolute;
    top: 30px;
    left: 1695px;
    width: 205px;
    height: 54px;
    z-index: 2;
}

.textLogin {
    position: absolute;
    top: 48px;
    left: 1773px;
    width: 50px;
    height: 20px;
    z-index: 2;
}

.cuadroSignUp {
    position: absolute;
    top: 755px;
    left: 730px;
    width: 458px;
    height: 104px;
    z-index: 2;
}

.textSignUp {
    position: absolute;
    top: 787px;
    left: 780px;
    width: 360px;
    height: 40px;
    z-index: 2;
}

.liveContent {
    position: absolute;
    top: 1106px;
    left: 64px;
    width: 1792px;
    height: 567px;
}

.cuadroPelis {
    position: absolute;
    top: 1717px;
    left: 64px;
    width: 1792px;
    height: 724px;
}

.dontLikeLive {
    position: absolute;
    top: 1773px;
    left: 135px;
    width: 1664px;
    height: 60px;
}

.peliUno {
    position: absolute;
    top: 1896px;
    left: 477px;
    width: 181px;
    height: 309px;
}

.peliDos {
    position: absolute;
    top: 1896px;
    left: 670px;
    width: 181px;
    height: 309px;
}

.peliTres {
    position: absolute;
    top: 1896px;
    left: 863px;
    width: 180px;
    height: 309px;
}

.peliCuatro {
    position: absolute;
    top: 1896px;
    left: 1248px;
    width: 181px;
    height: 309px;
}

.peliCinco {
    position: absolute;
    top: 1896px;
    left: 1055px;
    width: 181px;
    height: 309px;
}

.blueMesage {
    position: absolute;
    top: 2286px;
    left: 207px;
    width: 1492px;
    height: 110px;
}

.cuadritoAzul {
    position: absolute;
    top: 2467px;
    left: 64px;
    width: 1792px;
    height: 567px;
}

.cancelAnyTime {
    position: absolute;
    top: 2546px;
    left: 560px;
    width: 800px;
    height: 60px;
}

.simboloX {
    position: absolute;
    top: 2650px;
    left: 876px;
    width: 169px;
    height: 169px;
}

.ifDontYouMsg {
    position: absolute;
    top: 2881px;
    left: 269px;
    width: 1382px;
    height: 88px;
}

.ultMensaje1 {
    position: absolute;
    top: 3127px;
    left: 418px;
    width: 1118px;
    height: 125px;
}

.ultMensaje2 {
    position: absolute;
    top: 3296px;
    left: 181px;
    width: 1544px;
    height: 99px;
}

.MAC {
    position: absolute;
    top: 3440px;
    left: 685px;
    width: 584px;
    height: 534px;
}

.iphone {
    position: absolute;
    top: 3606px;
    left: 386px;
    width: 256px;
    height: 219px;
}

.PC {
    position: absolute;
    top: 3587px;
    left: 1261px;
    width: 271px;
    height: 238px;
}

.flechaIzquierda {
    position: absolute;
    top: 3689px;
    left: 305px;
    width: 19px;
    height: 27px;
}

.flechaDerecha {
    position: absolute;
    top: 3680px;
    left: 1575px;
    width: 19px;
    height: 27px;
    transform: scaleX(-1);
}

.politicasDeUso {
    position: absolute;
    top: 4088px;
    left: 543px;
    width: 831px;
    height: 25px;
}