.fondo {   
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

.logoPrime {
    position: absolute;
    top: 227px;
    left: 690px;
    width: 556px;
    height: 313px;
}

.logoLupa {
    position: absolute;
    left: 60px;
    top: 40px;
    
}

.favoriteContent {
    position: absolute;
    top: 517px;
    left: 389px;
    width: 1151px;
    height: 60px;
}

.nowYouCan {
    position: absolute; 
    top: 608px;
    left: 380px;
    width: 1160px;
    height: 102px;
}

.alinear {
    text-align: center;
}